    <script type="text/javascript" src="js/queryString.js"></script>
         <script type="text/javascript">
            //2015-6-2修改左侧menu点击后不高亮bug
             var Upath = window.location.pathname; //获取url的path
             if(Upath=='/'){Upath='/profile'} //默认打开profile个人信息，因为主页可以设置权限不可查看
             $("a[href='"+Upath+"']").parent().attr('class','active'); //左侧menu的激活状态

            //搜索框选择类型
            $(".projTypeForSearch").each(function(e){
                $(this).click(function(){
                    $("#projTypeToSearch span").text($(this).text());
                    $("#projTypeToSearch").attr("data-proj",$(this).attr("data-proj"));
                });
            });

            //搜索
            $("#searchProjByInfo").click(function(e){
                e.preventDefault();
                var projType = $("#projTypeToSearch").attr("data-proj");
                var searchInfo = $("#search-fld").val();
                location.href =  projType + "?q=" + searchInfo;
            });

            QueryString.Initial();

            var deliverQty = QueryString.GetValue('q');

            if(deliverQty !== undefined){
                setTimeout(function(){
                    $("#datatable_col_reorder_filter input").val(decodeURIComponent(deliverQty));
                    //模拟按键
                    var e = $.Event("keyup");
                    e.which = 40
                    $('#datatable_col_reorder_filter input').trigger(e);
                },100);
            }
        </script>
    </body>
</html>